<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ViewUserServlet</servlet-name>
        <servlet-class>adminpackage.ViewUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>adminpackage.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductViewServlet</servlet-name>
        <servlet-class>adminpackage.ProductViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProductServlet</servlet-name>
        <servlet-class>adminpackage.AddNewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>adminpackage.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontProductServlet</servlet-name>
        <servlet-class>adminpackage.FrontProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet2</servlet-name>
        <servlet-class>adminpackage.UpdateProductServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>adminpackage.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <servlet-class>adminpackage.ViewFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserFeedback</servlet-name>
        <servlet-class>adminpackage.DeleteUserFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPaymentServlet</servlet-name>
        <servlet-class>adminpackage.ViewPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>adminpackage.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateAdmineServlet</servlet-name>
        <servlet-class>adminpackage.ValidateAdmineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <servlet-class>adminpackage.DeletePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>adminpackage.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserDetailsServlet</servlet-name>
        <servlet-class>adminpackage.UpdateUserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserDetailsServlet2</servlet-name>
        <servlet-class>adminpackage.UpdateUserDetailsServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUserServlet</servlet-name>
        <url-pattern>/ViewUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/UserDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductViewServlet</servlet-name>
        <url-pattern>/ProductViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProductServlet</servlet-name>
        <url-pattern>/AddNewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontProductServlet</servlet-name>
        <url-pattern>/FrontProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet2</servlet-name>
        <url-pattern>/UpdateProductServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFeedbackServlet</servlet-name>
        <url-pattern>/ViewFeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserFeedback</servlet-name>
        <url-pattern>/DeleteUserFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPaymentServlet</servlet-name>
        <url-pattern>/ViewPaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/ViewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateAdmineServlet</servlet-name>
        <url-pattern>/ValidateAdmineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePaymentServlet</servlet-name>
        <url-pattern>/DeletePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserDetailsServlet</servlet-name>
        <url-pattern>/UpdateUserDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserDetailsServlet2</servlet-name>
        <url-pattern>/UpdateUserDetailsServlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
